<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
		        	<li><a href="/idio-use-cases/digital-experience">Digital Experience</a></li>
	        		<li><a href="/idio-use-cases/analytics">Analytics</a></li>
	        		<li><a href="/idio-use-cases/sales-enablement">Sales Enablement</a></li>
	    		</ul>
			</nav>
			
			<div class="side-nav">
			
			
			</div><!-- /.side-nav -->
			
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    			<ul>
	        			<li><a href="#">link</a></li>
				</ul>
			</footer>
		</body>
	</html>
